:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
}

#experience {
  min-height: 50vh;
  /* margin: auto; */
  margin: 2rem 20%;
  max-width: 1000px;
  padding-top: 100px;
  font-family: NTR, sans-serif;
}

.joblist-job-title {
  font-family: "NTR", sans-serif;
  font-size: 28px;
  font-weight: bold;
  /* color: var(--lightest-slate); */
  color: white;
}

.joblist-job-company {
  font-family: "NTR", sans-serif;
  font-size: 28px;
  /* color: var(--green-bright); */
  color: #ffc95a;
  font-weight: bold;
}

.joblist-duration {
  font-family: "NTR", sans-serif;
  font-size: 18px;
  color: var(--slate);
}

#vertical-tabpanel {
  margin-top: -28px;
  padding-left: 25px;
}

.MuiTab-wrapper {
  font-size: 16px;
  text-align: left;
  align-items: flex-start !important;
  font-family: "NTR", sans-serif;
}

.MuiButtonBase-root {
  outline: none !important;
  color: var(--lightest-slate) !important;
}

.PrivateTabIndicator-colorSecondary-5 {
  background-color: #ffc95a !important;
  /* background-color: var(--green-bright) !important; */
}
.jss5 {
  background-color: #ffc95a !important;
  /* background-color: var(--green-bright) !important; */
}
.makeStyles-tabs-2 {
  border-right: 1px solid var(--lightest-navy) !important;
}
#experience .MuiTab-root {
  padding: 6px 20px;
}
.MuiButtonBase-root:focus {
  /* color: var(--green-bright) !important; */
  color: #ffc95a !important;
}

ul {
  list-style: none;
  margin-left: -40px;
}

.job-description li::before {
  content: "▹    ";
  /* color: var(--green-bright); */
  color: #ffc95a;
  position: absolute;
  left: 0;
}

.job-description li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 16px;
  font-size: 18px;
  color: var(--slate);
}

.job-description {
  padding-top: 24px;
  max-width: 650px;
  font-family: "NTR", sans-serif;
  font-size: 20px;
}

.job-description a,
.job-description b {
  font-size: 19px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
  }

  .jss1 {
    height: unset !important;
    flex-direction: column !important;
  }

  .makeStyles-root-1 {
    height: unset !important;
    width: unset;
    flex-direction: column;
  }

  .joblist-job-title {
    font-size: 22px;
  }

  .joblist-job-company {
    font-size: 22px;
  }

  .MuiTypography-root{
    margin-top: 25px !important;
  }
}

.heading-experience{
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

@media (max-width: 1240px) {
  .joblist-job-title {
    font-size: 24px;
  }
  .joblist-job-company {
    font-size: 24px;
  }
  #experience {
    margin:2rem 10%
  }
}

@media (max-width: 890px) {
  #experience .MuiTab-root {
    padding: 6px 3px;
    font-size: 10px;
  }
}

.css-zqwq3{
  background-color: black !important;
}

@media(min-width:500px){
  .css-lloy3c-MuiTabs-root{
    width: 170px;
  }
}

@media(max-width:610px){
  .css-zqwq3{
    flex-direction: column;
  }
  .css-lloy3c-MuiTabs-root{
    min-height: 140px;
  }
  .joblist-job-title,.joblist-job-company{
    font-size: 20px;
  }
  .joblist-duration{
    font-size: 14px;
  }
  .job-description li{
    font-size: 16px;
  }
}