b{
    color: #ffc95a;
}


.projects-section{
    color: white;
    margin-top: 70px;
}

.projects-section h1,.projects-section h4{
    text-align: center;
}

.projects{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0%;
}

.image-container{
    width: 300px;
    height: 196px;
    display: flex;
}

.project-card{
    width: 350px;
    border: 3px solid #ffc95a;
    margin: 0px 25px 50px 25px;
    border-radius:20px ;
}

.project-image{
    border-radius:  20px 20px 0 0;
    width: 350px;
}

.project-card:hover{
    transition: all 0.6s;
    box-shadow: 0 8px 30px 1px hsla(26, 54%, 47%, 0.4);
}

.project-text{
    height: 40px;
    margin: 0 8px;
}

.project-info h2{
    text-align: center;
}

.project-btn {
    display: inline-flex;
    align-items: center;
  justify-content: space-evenly;
  width: 40%;
    margin: 25px 5% 0;
    padding: 1rem 2rem;
    border-radius: 15px;
    color:black;
    border: 1px solid white; 
    text-decoration: none;
    background-color:#ffc95a ;
    margin-bottom: 8px;
}



.project-btn:hover{
    transition: all 0.5s;
    background-color: #ffffff;
    font-weight:800;
}

@media (max-width:1218px){
    .project-card{
        width:320px ;
    }
    .project-image{
        width:320px
    }
    
}


@media (max-width:763px){
    .project-card{
        width:290px ;
    }
    .project-image{
        width:290px
    }
}