b{
    color: #ffc95a;
}


.projects-section{
    color: white;
    margin-top: 70px;
}

.projects-section h1,.projects-section h4{
    text-align: center;
}

.project-links:after{
    background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.project-links:hover:after { 
    width: 95%; 
    left: 0; 
    margin: 0 auto;
  }
.projects{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 45px 0%;
}

.image-container{
    width: 300px;
    height: 196px;
    display: flex;
    background-color: rgba(245, 245, 245, 0.266);
    position: relative;
    border-radius: 10px;
}

.project-card{
    width: 350px;
    margin: 0px 25px 50px 25px;
}

.project-image{
    border-radius:  20px 20px 0 0;
    width: 350px;
}

.project-text{
    height: 100%;
    margin-bottom: 8px;
    /* margin: 0 8px; */
}


.project-links{
    text-decoration: none;
    position: relative;
    color:white;
    margin-right: 10px;
}

@media (max-width:1218px){
    .project-card{
        width:320px ;
    }
    .project-image{
        width:320px
    }
    
}

@media (max-width:763px){
    .project-card{
        width:290px ;
    }
    .project-image{
        width:290px
    }
}